<div class="h-28"></div>

<section class="course-content">
  <div class="container">
    <div class="row flex justify-center items-center">
      <div class="col-lg-9">
        <div class="showing-list">
          <div class="row">
            <div class="">
              <div class="bg-white py-4 px-3 flex justify-between items-center">
                <h3 class="flex-1">Courses</h3>

                <div class="flex">
                  <div class="col-item">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search our courses"
                    />
                  </div>
                  <button
                    class="px-3 py-2 text-white mx-2 bg-orange-400 rounded"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div *ngFor="let e of courses" class="col-lg-12 col-md-12 d-flex">
            <div class="course-box course-design list-course d-flex">
              <div class="product">
                <div class="product-img">
                  <a>
                    <img class="img-fluid" alt="" [src]="e.imgUrl" />
                  </a>
                  <div class="price">
                    <h3>{{ e.price }}</h3>
                  </div>
                </div>
                <div class="product-content">
                  <div class="head-course-title">
                    <h3 class="title">
                      <a>{{ e.title }}</a>
                    </h3>
                    <div class="all-btn all-category d-flex align-items-center">
                      <a (click)="JoinCourse(e._id)" class="btn btn-primary">
                        JOIN
                      </a>
                    </div>
                  </div>
                  <div
                    class="course-info border-bottom-0 pb-0 d-flex align-items-center"
                  >
                    <div class="rating-img d-flex align-items-center">
                      <img src="assets/img/icon/icon-01.svg" alt="" />
                      <p>{{ e.startAt }}</p>
                    </div>
                    <div class="course-view d-flex align-items-center">
                      <img src="assets/img/icon/icon-02.svg" alt="" />
                      <p>{{ e.endAt }}</p>
                    </div>
                  </div>

                  <div>
                    <p>{{ e.subtitle }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
