<header class="header" *ngIf="shown">
  <div class="header-fixed">
    <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
      <div class="container">
        <div class="navbar-header">
          <a id="mobile_btn" href="javascript:void(0);">
            <span class="bar-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
          <a routerLink="/" class="navbar-brand logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
          </a>
        </div>
        <div class="main-menu-wrapper">
          <div class="menu-header">
            <a routerLink="/" class="menu-logo">
              <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
              <i class="fas fa-times"></i>
            </a>
          </div>
          <ul class="main-nav">
            <li routerLinkActive="">
              <a routerLink="/">Home</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/courses">Courses</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/events">Events</a>
            </li>
          </ul>
        </div>
        <ul class="nav header-navbar-rht" *ngIf="!logged">
          <li class="nav-item">
            <a class="nav-link header-sign" routerLink="/login">Signin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-login" routerLink="/register">Signup</a>
          </li>
        </ul>
        <ul class="nav header-navbar-rht" *ngIf="logged">
          <li class="nav-item">
            <a class="nav-link header-sign" routerLink="/login">Profile</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="sidebar-overlay"></div>
  </div>
</header>
